*, *::before, *::after {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;font-family: 'Roboto', sans-serif;
    list-style-type: none;
}
a{
    text-decoration: none;
}

p{
    font-weight: 500;
}

main {
    background-color: rgb(241, 241, 241);
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1200ff;
    border-radius: 100px;
    color: white;
    font-size: 10px;
    font-weight: 700;
    transition: 0.3s;
    padding: 12px 34px;
    letter-spacing: 1px;
}
.button:hover{
    background-color: #3829ff;
    cursor: pointer;
}
.button a{
    color: white;
}